<!-- list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<title>Admin Search page</title>
</head>

<body>

	<class="container">
		<center>
			<h1>Course</h1>
		</center>

		<h2>Course List</h2>


		<form th:action="@{/course/courseSearch}" th:object="${course}" method="get">
			<label for="id">Course Id:</label>
			<input type="text" id="id" name="id">
			<button type="submit">Search</button>
		</form>

		<div th:if="${errorMessage}" style="color: red;">
			<p th:text="${errorMessage}"></p>
		</div>

		<table th:if="${course != null}">
			<thead>
			<tr>
			    <th>Course ID</th>
			    <th>Course Name</th>
			    <th>Hours</th>
			    <th>descreption</th>
			    <th>Class Id</th>
			    <th>Edit</th>
			    <th>Delete</th>
			</tr>
			</thead>
			<tbody>			
			<tr th:each="course : ${courses}">
			    <td th:text="${course.getCourseId()}"></td> 
			    <td th:text="${course.Cname}"></td>
			    <td th:text="${course.hours}"></td>
			    <td th:text="${course.descreption}"></td>
			    <td th:text="${course.classId}"></td>
			    <td><a th:href="@{/course/editCourse/{courseId}(courseId=${course.getCourseId()})}">Edit</a></td>
			    <td><a th:href="@{/course/deleteCourse/{courseId}(courseId=${course.getCourseId()})}">Delete</a></td>
			</tr>
			</tbody>
		</table>

		<a href="/course/addCourse">Add admin</a>
		<a href="/course/viewCourse">back to List</a>


		</div>

</body>

</html>>